@import url(http://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans:400,700);

html {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.45;
  color: $brown;
}

#{headings()} {
  font-family: $font-secondary;
  font-weight: 400;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: $gold;
}

ul, li {
  list-style: none;
}

h1 {
  margin-top: 0;
  font-family: $font-primary;
  fontsize: 2.75em;
  color: #FFF;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

h5 {font-size: 1em}

p {margin-bottom: 1.3em;}

small, .font_small {font-size: 0.707em;}

h6 {
  display: none;
  visibility: hidden;
}

.footerType {
  font-size: .9rem;
}