@import url(http://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans:400,700);

html {
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.45;
  color: $brown;
}

#{headings()} {
  @include single-transition(all, 1s, ease-in-out);
  font-family: $font-secondary;
  font-weight: 400;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: $gold;
}

ul, li {
  list-style: none;
}

h1 {
  margin-top: 0;
  font-family: $font-primary;
  fontsize: 2.75em;
  color: #FFF;

  @media (max-width: 860px) {
    font-size: 2.5em;
  }

  @media (max-width: 400px) {
    font-size: 2em;
  }
}

h2 { font-size: 2.827em;}

h3 { font-size: 1.999em; }

h4.featured {
  margin: 5rem auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .7rem;
}

h4 {
  font-size: 1.414em;

  @media (max-width: 860px) {
    font-size: 1.212em;
  }
  
  @media (max-width: 400px) {
    font-size: 1em;
  }
}

h4.featured + hr {
  border: 0;
  height: 1px;
  width: 5.0625rem;
  margin: 0 auto;
  background-color: $gold;
  margin-top: -3rem;
}

h5 {font-size: 1em}

h6 {
  display: none;
  visibility: hidden;
}

p {margin-bottom: 1.3em;}

small, .font_small {font-size: 0.707em;}

.footerType {
  font-size: .9rem;
  color: $gold;
  @include align(v);
}