// @include edit();

section {
  // @include center(1160px, 16px);
  @include center(90%);
}

/* ========================
Navigation Section
========================= */

.logo {
  @include col(1/4);
  @include shift(-.25/4);
}

.menu {
  @include col(2/4, $offset: 1/4);
  height: 60px;
}

.navLinks {
  @include span(1/4);
  height: 60px;
  padding: 1.1em 0;
  text-align: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: .05rem;
    color: $gold;
    padding: 1.1em .5em 1.25em .5em;
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      color: $gray94;
      border-bottom: 1px solid $gray94;
      @include single-transition(all, 0.5s, ease-in-out);

    } // a:hover
  } // a
} // nav ul li


.navBar {
  height: 60px;
  background-color: $black;
  border-bottom: 2px solid darken($black, 2.5%);
}

nav {
  @include center(95%, 1rem);
  position: relative;
  z-index: 999;
  height: 60px;
} // nav

/* ========================
Intro Section
========================= */

.bgBlack {
  background-color: $black;
  padding-top: 7em;
  height: 708px;
}

/* ========================
Ghost button styling 
========================= */

.link { 
  position: relative;
  top: 50%;
  left: 50%;
  width: 182px;
  height: 47px;
  border: 1px solid rgba(255,255,255,0.25);
  @include align();
  margin-top: 240px;
}

.link a {
  display: block;
  position: absolute;
  top: 0;
  right: 0px;
  width: 182px;
  height: 47px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  text-align: center;
  padding-top: 0.7rem;
  text-decoration: none;
  letter-spacing: 0.05rem;

}

/* ========================
Line styling 
========================= */

.link .line-top {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 1px;
  background: rgba(255,255,255,1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link .line-right {
  position: absolute;
  bottom: 0;
  right: -1px;
  width: 1px;
  height: 0;
  background: rgba(255,255,255,1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link .line-bottom {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 0;
  height: 1px;
  background: rgba(255,255,255,1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link .line-left {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 0;
  background: rgba(255,255,255,1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ========================
Line hover transitions 
========================= */

.link:hover .line-top {
  width: 182px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link:hover .line-right {
  height: 46px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link:hover .line-bottom {
  width: 182px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link:hover .line-left {
  height: 46px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ========================
Services Section
========================= */
.services {
  background-color: white;
  height: 768px; 
}

/* ========================
Portfolio Section
========================= */

.portfolio {
  background-color: white;
  height: 1536px;
}

/* ========================
Testimonials Section
========================= */
.testimonials {
 background-color: $gray94;
 height: 768px;
}

/* ========================
Contact Section
========================= */

.contact {
 background-color: $ivory;
 height: 768px;
}


/* ========================
Footer Section
========================= */
footer {
  position: relative;
  background-color: $black;
  height: 275px;

  span {
    color: white;
  }
}