// @include edit();

section {
  @include center(1160px, 16px);
}

.container {
  @include center(960px);
}

/**
  * Navigation styles
  * column
  * ul, li, a color styles
**/

.half {
  @include col(1/2);
  height: 60px;
}

.navLinks {
  @include col(1/4 1/3 1/2);
  height: 60px;
  padding: 1em 0;
  text-align: center;

  @media (max-width: 860px) {
     @include stack();
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: .05rem;
    color: $gold;
    padding: .25em .5em 1.25em .5em;
    -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      color: $gray94;
      border-bottom: 1px solid $gray94;
      @include single-transition(all, 0.5s, ease-in-out);

    } // a:hover
  } // a
} // nav ul li


.navBar {
  height: 60px;
  background-color: $black;
  border-bottom: 2px solid darken($black, 2.5%);
}

nav {
  @include center(98%);
  position: relative;
  z-index: 999;
  height: 60px;

  @media (max-width: 860px) {
     .sideBar {
      @include cf();
      @include single-transition(all, 1s, ease-in-out);
      position: fixed;
      top: 0px;
      right: -180px;
      bottom: 0px;
      width: 180px;
      background-color: darken($black, 4%);

      ul li {
        width: 180px;
        margin: 0;
        padding: 0;

        a {
          display: inline-block;
          width: inherit;
          padding: 1em 0;
          text-indent: 1rem;
          text-align: left;
          height: inherit;
          border-left: 3px solid darken($black, 4%);
          border-top: 1px solid lighten($black, 0.05%);
          border-bottom: 1px solid darken($black, 8%);

          &:hover {
            background-color: $ivory;
            border-left: 3px solid $orange;
            border-bottom: none;
            color: $brown;
            @include single-transition(all, 0.5s, ease-in-out);
          }
        }
      } // ul li

    .burgerMenu {
      position: absolute;
      left: -40px;
      margin: .75em 1em 1em 0;
    }

    } // .sideBar
  } // media
} // nav

#toggleBtn {
  display: none;
  &:checked + .sideBar {
    @include single-transition(all, 1s, ease-in-out);
    right: 0px;

    .burgerMenu {
      -webkit-transform: rotate(90deg); /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg); /* IE 10, Fx 16+, Op 12.1+ */
      
      -webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

// END OF NAV STYLES

/**
  * Service Section
  * Background
  * Container
**/

.bgBlack {
  background-color: $black;
  padding-top: 7em;
  height: 708px;
}