// color palette
$gray94 : #f0f0f0;
$ivory  : #cdcdc1;
$gold   : #918f7b;
$black  : #2b2d2d;
$brown  : #514f45;
$orange : #f16b3b;

$font-primary: 'Quattrocento Sans', sans-serif;
$font-secondary: 'Quattrocento', serif;